* {
    box-sizing: border-box;
}

body {
    background-color: #612f6c;
}

.wrapper {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 100px);
    height: 250px;
    margin-top: 3.5%;
}

.square1 {
    height: 200px;
    width: 200px;
    background-color: #f8ec7e;
    border-radius: 0 0 10rem 10rem;
    margin-top: 100vh;
}

.square2 {
    height: 200px;
    width: 200px;
    background-color: #f8ec7e;
    border-radius: 10rem 10rem 0 0;
    margin-top: 44.5vh;
}